<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>お買い物</title>
    </head>
    <body>
        <h1>お買い物の金見さん</h1>
        
        <h2>入力リスト</h2>
        <form method='POST'>
            {% csrf_token %}
            {% for per_form in form %}
                
                {{ per_form }}
                
                <br>
            {% endfor %}
            {{ form.management_form }}
            <button name="btn_submit" type="submit">
                送信する
            </button>
            <button name="btn_add" type="submit">
                追加する
            </button>
        </form>
        
        {% if total_prices %}
            <h2>合計金額</h2>
            <table>
                <thead>
                    <tr>
                        <th>商品名</th>
                        <th>合計金額</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name, price in total_prices.items %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if all_total %}
            <h2>合計金額（全商品）</h2>
            <p>{{ all_total }}</p>
        {% endif %}
        
        
    </body>
</html>
