<!DOCTYPE html>
<html lang="ja">
    {% load static %} 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>お買い物</title> 
        
    </head>

    <body>
        <header>
            <div class="title">お買い物の金見さん</div>
            <div style="position:absolute; top:12px; left:382px" >
            <img src="{% static 'images/usericon.png' %}" alt="例の画像">
            </div>
  
        </header>
            <h2>入力リスト</h2s>
            <form method='POST'>
            {% csrf_token %}
            {% for per_form in form %}
                
                {{ per_form }}
                
                <br>
            {% endfor %}
            {{ form.management_form }}
            <button name="btn_submit" type="submit">
                送信する!!
            </button>
            <button name="btn_add" type="submit">
                追加する
            </button>
            </form>
        
        {% if total_prices %}
            <h2>合計金額</h2>
            <table>
                <thead>
                    <tr>
                        <th>商品名</th>
                        <th>合計金額</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name, price in total_prices.items %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if all_total %}
            <h2>合計金額（全商品）</h2>
            <p>{{ all_total }}</p>
         {% endif %}
    </body>
</html>
